@inherits PieChartBase

<div class="col-lg-6 col-md-6 mt-4 mb-4 margin-top-paper">
    <div class="card-dashbord z-index-2 ">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="card-header text-white text-wrap txt-size-paper-two" style="background-color:#FCA834">
                <b>@AppData.LangResource[AppData.LanguageID, 286]</b>
            </div>
            
                    <!--Chart Config="@_config" Height="260"></!--Chart-->
                    <!--Chart Config="_config1" /--->
                   <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FBangkok&src=cmlzYXJlZXdhbkBnbWFpbC5jb20&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=cHJhYmhhc3RvbkBnbWFpbC5jb20&src=dGgudGgjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23EF6C00&color=%2333B679&color=%23F6BF26&color=%230B8043" 
                           style="border-width:0; overflow:hidden;height:450px;width:100%; " >
                   </iframe>
           
        </div>
    </div>
</div>
@code {

}
