<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>E:\ฝ่าย IT\Project\Project\RapidNRIMS_2564_OAP\DevSources\3.Develop\V1.5.1\RapidNrimsV1.5.1\RapidNrims-VersionDev-Phase2.1\RapidNRIMs\bin\Debug\IIS</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net6.0</TargetFramework>
    <ProjectGuid>1786f2cc-adc4-47d9-81d5-0b4ba3f233bd</ProjectGuid>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>